body {
    background-color: darkgray;
}
.button1 {
    margin: 3px;
}
.imghere {
    float: left;
}
.bigone {
    width: 80%;

}
.add-btn {
    padding: 10px;
}
#yoyo {
    background-color: lightgray;
}
.jumbotron {
    display: flex;
    align-items: center;
}
